<!DOCTYPE HTML>
<html>
<head>
    <title>Kalaha Game</title>
</head>
<body>
    <h1>Play a Game of Kalaha</h1>
    <form action="/play" method="get">
        <button type="submit" value="Submit">START GAME</button>
    </form>
</body>
</html>